mapdiv :hover {
	fill:#98afc7;
}

#NG-AB{
	fill:#32cd32;
}
#NG-AD{
	fill:#ff0000;
}
#NG-AK{
	fill:#ff0000;
}
#NG-AN{
	fill:#FFB6C1;
}
#NG-BA{
	fill:#3d6cb9;
}
#NG-BE{
	fill:#ff0000;
}
#NG-BO{
	fill:#ffff00;
}
#NG-BY{
	fill:#32cd32;
}
#NG-CR{
	fill:#FF7f50;
}
#NG-DE{
	fill:#ffff00;
}
#NG-EB{
	fill:#FFB6C1;
}
#NG-ED{
	fill:#ff0000;
}
#NG-EK{
	fill:#ffff00;
}
#NG-EN{
	fill:#3d6cb9;
}
#NG-FC{
	fill:#ff0000;
}
#NG-GO{
	fill:#32cd32;
}
#NG-IM{
	fill:#ff0000;
}
#NG-JI{
	fill:#FF7f50;
}
#NG-KD{
	fill:#ffff00;
}
#NG-KE{
	fill:#32cd32;
}
#NG-KN{
	fill:#ff0000;
}
#NG-KO{
	fill:#32cd32;
}
#NG-KT{
	fill:#FFB6C1;
}
#NG-KW{
	fill:#ff0000;
}
#NG-LA{
	fill:#ff0000;
}
#NG-NA{
	fill:#FF7f50;
}
#NG-NI{
	fill:#FF7f50;
}
#NG-OG{
	fill:#ffff00;
}
#NG-ON{
	fill:#FF7f50;
}
#NG-OS{
	fill:#3d6cb9;
}
#NG-OY{
	fill:#32cd32;
}
#NG-PL{
	fill:#FFB6C1;
}
#NG-RI{
	fill:#3d6cb9;
}
#NG-SO{
	fill:#FFC0CB;
}
#NG-TA{
	fill:#ffff00;
}
#NG-YO{
	fill:#ff0000;
}
#NG-ZA{
	fill:#3d6cb9;
}